<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <style>
       .secchart{
           background-color: lightblue;
            margin-left:auto;
            margin-right:auto;
           width: 90%;
            /*width: 1200%;*/
            height: 600px;
            border-bottom: 1px solid #dfdfdf;
        }
       .chart {
           margin: auto;
           float: left;
           width: 600px;
           height:600px;
           /*border: 1px solid black;*/
       }
       .data{
           margin: auto;
           /*align-content: center;*/
           float: left;
           width: 600px;
           height:300px;
       }
        .secdata{
            background-color: lightblue;
            margin-left:auto;
            margin-right:auto;
            width:90%;
            height: 300px;
            border-bottom: 1px solid #dfdfdf;
        }
    </style>
    <script type="text/javascript" src="../../lib/echarts.js"></script>
    <script type="text/javascript" src="../../lib/dataTool.min.js"></script>
    <script type="text/javascript" src="../../lib/china.js"></script>
    <script type="text/javascript" src="../../lib/world.js"></script>
    <script type="text/javascript" src="../../lib/bmap.min.js"></script>
    <script type="text/javascript" src="../../lib/jquery-3.1.1.min.js"></script>
</head>
<body style="height: 100%; margin: 0" onload="connect()">
<!--<input type="button" id="message"  value="ws comm" onclick="sendName()"></input><br>-->
<section class="secchart">
    <div class="row">
        <div class="chart" id="gauge"></div>
        <div class="chart" id="container" ></div>
    </div>
</section>
<section class="secdata">
    <div class="row">
    <div class="data" >
            TPS: <input type="text"/><br>
        交易笔数:<input type="text"/><br>
        交易金额:<input type="text"/><br>
          成功率: <input type="text"/><br>
        拒绝笔数: <input type="text"/><br>
    </div>
    <div class="data">
        地域累计金额:<input type="text"></input>
        <table>
            <tbody>fdfd</tbody>
        </table>
    </div>
    </div>
</section>
<script type="text/javascript">
    var dom = document.getElementById("gauge");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        tooltip : {
            formatter: "{a} <br/>{b} : {c}",
        },
        toolbox: {
            feature: {
                restore: {},
                saveAsImage: {}
            }
        },
        series: [
            {
                name: '交易量',
                type: 'gauge',
                radius:'45%',
                axisLine:{
                    lineStyle:{
                        color:[[0.2, '#91c7ae'], [0.8, '#63869e'], [1, '#c23531']],
                        width: 10 ,
                    },
                },
                pointer:{
                    width: 4,
                },
                detail: {formatter:'{value}'},
                data: [{value: 50, name: 'IPPS交易量'}]
            }
        ]
    };

    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

</script>
<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        title: {
            text: '实时交易量',
            subtext: 'BOC',
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data:['快捷支付交易量']
        },
        visualMap: {
            min: 0,
            max: 2500,
            left: 'left',
            top: 'bottom',
            text: ['高','低'],           // 文本，默认为数值文本
            calculable: true
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                dataView: {readOnly: false},
                restore: {},
                saveAsImage: {}
            }
        },
        series: [
            {
                name: '快捷支付交易量',
                type: 'map',
                mapType: 'china',
                label: {
                    normal: {
                        show: true
                    },
                    emphasis: {
                        show: true
                    }
                },
                data:[]
            }
        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
    function refreshData(data){
        if(!myChart){
            return;
        }
        //更新数据
        var option = myChart.getOption();
        option.series[0].data = data;
        myChart.setOption(option);
    }

</script>
<script type="text/javascript">
    function connect() {
        if ('WebSocket' in window){
            console.log('Websocket supported');
            socket = new WebSocket('ws://localhost:8080/SpringMVCpomp/datatransfer');
            console.log('Connection attempted');

            socket.onopen = function(){
                console.log('Connection open!');
//                setConnected(true);
                sendName();
            }

            socket.onclose = function(){
                console.log('Disconnecting connection');
            }

            socket.onmessage = function (evt)
            {
                var received_msg = evt.data;
                console.log(received_msg);
                console.log('message received!');
//                showMessage(received_msg);
                var jsondata=JSON.parse(received_msg);
                refreshData(jsondata);
            }

        } else {
            console.log('Websocket not supported');
        }
    }

    function disconnect() {
//        setConnected(false);
        console.log("Disconnected");
    }

    function sendName() {
//        var message = document.getElementById('message').value;
        socket.send(JSON.stringify({ 'message': 'message form client' }));
    }
</script>
</body>
</html>